/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 2px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin-left: 15px;
    width: 300px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color:black;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color:red;
}

nav li a.active {
    background-color: greenyellow;
}

#eerste {
    background-color:darkblue
    
}
#tweede {
    background-color: darkblue
}
#derde {
    background-color:darkblue
}
#vierde {
    background-color:darkblue
}
p {
    color:skyblue;
}
#trainer {
    float:left;
}
li {
    color:skyblue:
}





